* {
  box-sizing: border-box;
}

body {
  margin: 0; 
  font-family: 'Poppins', sans-serif
}

/* Navbar component CSS */

nav {
  height: 70px;
  display: flex;
  padding: 20px 36px;
  box-shadow: 0px 2.98256px 7.4564px rgba(0, 0, 0, 0.1);
}

.gray {
  color: #918E9B;
}

.bold {
  font-weight: bold;
}

.airbnb-logo{
  position: absolute;
  width: 82.02px;
  height: 25.35px;
  left: 30px;
  top: 22px;
  max-width: 100px;
}


/* Hero section CSS */

section {
  padding: 20px;
}

.hero {
  display: flex;
  flex-direction: column;
  width: 500px;
  height: 232px;
}

.hero--photo {
    max-width: 400px;
    align-self: center;
}

.hero--header {
  margin-bottom: 16px;
}

.hero--text {
  margin-top: 0;
}

/* Card component CSS */

.card {
  width: 175px;
  font-size: 12px;
}

.card--image {
  width: 100%;
  border-radius: 9px;
}

.card--stats {
  display: flex;
  align-items: center;
}